body{
    background-color: rgb(182, 135, 83);
    font-family: cursive;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
      }
      
      ul li {
        box-shadow: 0 4px 8px;
        margin-right: 20px;
        background-color: rgb(196, 193, 193);
        border-radius: 100px;
        background-size: 2000px;
    }
  .lista3 li a{
    font-family: cursive;
    text-decoration: none;
    color: black;
  }